anyio
argon2-cffi
argon2-cffi-bindings
asttokens
async-lru
attrs
babel
beautifulsoup4
bleach
Bottleneck
Brotli
certifi
cffi
charset-normalizer
colorama
comm
contourpy
cycler
debugpy
decorator
defusedxml
executing
fastjsonschema
fonttools
h11
httpcore
httpx
idna
importlib_metadata
ipykernel
ipython
ipython_pygments_lexers
ipywidgets
jedi
Jinja2
json5
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kiwisolver
MarkupSafe
matplotlib==3.10.0
matplotlib-inline
mistune
mkl-service==2.4.0
mkl_fft
mkl_random
mplcursors==0.6
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numexpr
numpy==2.2.4
overrides
packaging
pandas==2.2.3
pandocfilters
parso
pillow
platformdirs
prometheus_client
prompt-toolkit
psutil
pure-eval
pycparser
Pygments
pyparsing
PyQt6==6.7.1
PyQt6_sip
PySocks
python-dateutil
python-json-logger
python-ternary==1.0.8
pytz
pywin32==308
pywinpty
PyYAML
pyzmq
qtconsole
QtPy
referencing
requests
rfc3339-validator
rfc3986-validator
rpds-py
seaborn==0.13.2
Send2Trash
setuptools==72.1.0
sip
six
sniffio
soupsieve
stack-data
terminado
tinycss2
tomli
tornado
traitlets
typing_extensions
tzdata
unicodedata2
urllib3
wcwidth
webencodings
websocket-client
wheel==0.45.1
widgetsnbextension
win-inet-pton
zipp
